<h4 class="header center ">CREAR USUARIO</h4>
		<article>
		<div class="container">
		<div class="section">		
      		 <form >
      		 	<div class="row">
				<div class="input-field col l5 s12">
					 <select class="browser-default">
					      <option value="" disabled selected>Rol</option>
					      <option value="Analista">Analista</option>
					      <option value="Vendedor">Vendedor</option>					    </select>
				</div>
				<div class="col l2 s12"></div>

				<div class="input-field col l5 s12">
					<i class="material-icons prefix">account_circle</i>
					 <input  id="idProduc" type="number" class="validate" ng-model="rProducto.id">
			         <label for="idProduc">Nombre</label> 
			          
				</div>
				</div>

				<div class="row">
				<div class="input-field col l5 s12">
					  <i class="material-icons prefix">local_offer</i>
					  <input  id="nombreProd" type="text" class="validate" ng-model="rProducto.name">
			          <label for="nombreProd">Nombre usuario</label>
			          
				</div>
				<div class="col l2 s12"></div>

				<div class="input-field col l5 s12">
					<i class="material-icons prefix">mode_edit</i>
					<input  id="idProduc" type="number" class="validate" ng-model="rProducto.id">
			        <label for="idProduc">Correo</label>  
				</div>
				</div>

				<div class="row">
				<div class="input-field col l5 s12">
					<i class="material-icons prefix">vpn_key</i>					
			         <input  id="precio" type="password" class="validate" ng-model="rProducto.id">
			          <label for="precio">Contraseña</label>
			           
				</div>
				<div class="col l2 s12"></div>

				<div class="input-field col l5 s12">
					  <i class="material-icons prefix">vpn_key</i>
					  <input  id="descripcion" type="password" class="validate" ng-model="rProducto.username">
			          <label for="descripcion">Confirmar contraseña</label>
				</div>
				</div>

				<div class="row " >
				<div class="input-field col l2 s8 right">
					<a class="waves-effect blue btn" ng-click="">Crear</a>
				</div>
				</div>
			</form>
		</div>						
		</div>
		</article>
				

	<!--fin de la seccion principal-->